Make.config
.DS_Store
*.out
*.out.map
*~
app-8-out/default/*
app-8-in/default/*
adc/default/*
/*.a
/doc/html/*
*.o
*.lst
*.hex
*.bin
*.out*
*.d
compiler_flags
linker_flags
*.aps
*.aws
/app-pir/Release/Makefile
/app-pir/Release/freebus-avr-pir
/app-pir/Release/freebus-avr-pir.eep
Debug
lib
*.bak
.gitmodules
.project
.cproject
